<%- include('layouts/header') %> 
<body>
   
    <h2>Carga de Datos</h2>
    <div class="container">
        <form class="row g-1" method="post" action="/">
    
            <div>
                <label for="my-input">Inicio EGA</label>
                <input type="datetime-local" id="meeting-time"
                name="firstTime" 
                min="2022-08-07T00:00" max="2023-12-31T00:00">
            </div>
    
            <div class="form-group">
                <label for="my-input">Nombre del Barco</label>
                <input id="my-input" class="form-control" type="text" name="nombreBarco">
            </div>

            <div class="form-group">
                <label for="my-input">Velocidad Barco</label>
                <input id="my-input" class="form-control" type="number" name="velocidad">
            </div>

            <div class="form-group">
                <label for="my-input">Rumbo Barco</label>
                <input id="my-input" class="form-control" type="number" name="rumbo">
            </div>

    
    
            <h2>Latitud</h2>
    
            <div class="form-group">
                <label for="my-input">Grados</label>
                <input id="my-input" class="form-control" type="number" name="latGrados">
            </div>
    
            <div class="form-group">
                <label for="my-input">Minutos</label>
                <input id="my-input" class="form-control" type="number" name="latMinutos">
            </div>
    
            <div class="form-group">
                <label for="my-input">Segundos</label>
                <input id="my-input" class="form-control" type="number" name="latSegundos">
            </div>
    
            <h2>Longitud</h2>
    
            <div class="form-group">
                <label for="my-input">Grados</label>
                <input id="my-input" class="form-control" type="number" name="longGrados">
            </div>
    
            <div class="form-group">
                <label for="my-input">Minutos</label>
                <input id="my-input" class="form-control" type="number" name="longMinutos">
            </div>
    
            <div class="form-group">
                <label for="my-input">Segundos</label>
                <input id="my-input" class="form-control" type="number" name="longSegundos">
            </div>
            
            <h4>Hora Final</h4>


            <div>
                <label for="my-input">Fin EGA</label>
                <input type="datetime-local" id="meeting-time"
                name="secondTime" 
                min="2022-08-07T00:00" max="2023-12-31T00:00">
            </div>


           
    
    
            <button type="submit" class="btn btn-primary">Calcular</button>
          </form>
        </div>



</body>

<%- include('layouts/footer') %> 
